container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_superuser:
    command: "python manage.py myCreateSuperUser"
    leader_only: true
  03_rmfilenest:
    command: "sudo rm aviary/nest.sh"
    leader_only: true
  04_nestPrepare:
    command: "sudo cp nest.sh aviary/"
    leader_only: true
  05_chown:
    command: "sudo chown wsgi aviary/nest.sh"
    leader_only: true
  
  06_chmod:
    command: "sudo chmod 744 aviary/nest.sh"
    leader_only: true
  07_downloadSamtools:
    command: "wget https://github.com/samtools/samtools/releases/download/1.9/samtools-1.9.tar.bz2 "
    leader_only: true
  unzipSamtools:
    command: "bzip2 -d samtools-1.9.tar.bz2 && tar -xf samtools-1.9.tar"
    leader_only: true
  installSamtoolsDependencies:
    command: "sudo yum install autoconf automake make gcc perl-Data-Dumper zlib-devel bzip2 bzip2-devel xz-devel curl-devel openssl-devel ncurses-devel"
    leader_only: true
  installSamTools:
    cwd: "/opt/python/current/app/samtools-1.9"
    command: "./configure && make && make install"
    leader_only: true