container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_superuser:
    command: "python manage.py myCreateSuperUser"
    leader_only: true
  03_rmfilenest:
    command: "sudo rm aviary/nest.sh"
    leader_only: true
  04_nestPrepare:
    command: "sudo cp nest.sh aviary/"
    leader_only: true
  05_chown:
    command: "sudo chown wsgi aviary/nest.sh"
    leader_only: true