container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_superuser:
    command: "python manage.py myCreateSuperUser"
    leader_only: true
  03_rmfilenest:
    command: "sudo rm aviary/nest.sh"
    leader_only: true
  04_nestPrepare:
    command: "sudo cp nest.sh aviary/"
    leader_only: true
  05_chown:
    command: "sudo chown wsgi aviary/nest.sh"
    leader_only: true
  06_chmod:
    command: "sudo chmod 744 aviary/nest.sh"
    leader_only: true
  downloadSamtools:
    command: "wget https://github.com/samtools/samtools/releases/download/1.9/samtools-1.9.tar.bz2 "
    leader_only: true
  unzipSamtools:
    command: "bzip2 -d samtools-1.9.tar.bz2 && tar -xf samtools-1.9.tar"
    leader_only: true
  downloadBcftools:
    command: "wget https://github.com/samtools/bcftools/releases/download/1.9/bcftools-1.9.tar.bz2"
    leader_only: true
  unzipBcftools: 
    command: "bzip2 -d bcftools-1.9.tar.bz2 && tar -xf bcftools-1.9.tar"
    leader_only: true
  downloadBowtie:
    command: "wget https://sourceforge.net/projects/bowtie-bio/files/bowtie2/2.3.4.3/bowtie2-2.3.4.3-source.zip"
    leader_only: true
  unzipBowtie:
    command: "unzip bowtie2-2.3.4.3-source.zip"
    leader_only: true



  