option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: blackbird/wsgi.py
packages: 
  yum:
    autoconf: []
    automake: []
    make: []
    gcc: []
    perl-Data-Dumper: []
    zlib-devel: []
    bzip2: []
    bzip2-devel: []
    xz-devel: []
    openssl-devel: [] 
    ncurses-devel: []
    gsl-devel: []
    perl-ExtUtils-Embed: []
    tbb-devel.x86_64: []