{% load static %}

<h1>Upload files</h1>

    <div class="determineInputType">
        <form action="">
            <input  type="radio" name="inputKind" value="fast" id="fastButton">Upload FASTA and FASTQ</br>
            <input  type="radio" name="inputKind" value="csv" id="csvButton">Upload a CSV</br>
        </form>
    </div>
    <div class="formSelectInput">
        <form enctype="multipart/form-data" action="upload" method="post">
            {% csrf_token %}
            {{ reference_form.as_p }}
            <input type="submit" value="Upload reference files"  /><br><br>
        </form>
    </div>
    <div class="csvInput">
    <p>placeHolder</p>
    </div>
  

<a href="{% url 'index' %}">Home</a>
<script src="{% static "eggs/upload.js" %}" ></script>

