

<h1>Upload Sample files</h1>
   <div>
    <form enctype="multipart/form-data" action="uploadSample" method="post">
        {% csrf_token %}
        <table>
            {{ formset.management_form }}
            {% for  form in formset %}
                {% for field in form %}
                    {{ field.label_tag }} {{ field}} <br><br>
                {% endfor %}
            {% endfor %}
        </table>

        {% comment %} Enter sample 1:<input type="file" id="sample1" accept=".fastq"><br><br> 
        Enter sample 2:<input type="file" id="sample2" accept=".fastq"><br><br>  {% endcomment %}
        {% comment %} Select a reference file:<input type="file" name="dataReference" id="reference"  accept=".fasta, .fastq"><br><br> {% endcomment %}
        {% comment %} Javascript should make this invisible until everything is entered.  {% endcomment %}
        <input type="submit" value="Upload sample files"  /><br><br>
    </form>
</div>
{% comment %} <div>
<h2>Enter batch name</h2>
<button id="batch">Provide batch name</button>
</div>
<br>

<br><br> {% endcomment %}
<a href="{% url 'index' %}">Home</a>
{% comment %} {% load static %} {% endcomment %}

{% comment %} <script src="{% static "eggs/upload.js" %}"> </script> {% endcomment %}

